.container{
    margin-top: 20px;
}

.container a {
    color:black;
    font-weight: bolder;
    text-decoration: none;
    font-size: 16px;
}
.container a:hover,.container a:focus {
  color: #0073aa;
  transition: all 0.3s ease 0s;
}

.colAuth{
    margin: auto;
}

.colLogo{
    text-align: center;
     margin: auto;
}

.colLogo h1{
    font-size: 36px;
}

.colLogo h2{
    text-align: center;
    color: #B6B6B6;
    font-size: 20px;
    margin: auto;
}

.colBasket{
    text-align: right ;
    margin: auto;
}

.cartBadge{
    position: relative;
    top: -15px;
    right: -50px;
}