.cardProduct{
    width: 195px;
    margin: 15px auto;
    border: none;
    cursor: pointer;
}

.subCard{
 padding: 5px;
}

.cardProduct .card-text{
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1em;
  
}
.text{
  min-height: 145px;
}

.cardProduct .price{
    font-weight: 600;
    text-align:right;
}
.green
{
     background-color: green;
}