.adv {
  padding: 35px 0 35px 0;
  text-align: center;
  font-size: 0;
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_adv {
  display: inline-block;
  width: 180px;
}

.img {
  width: 26%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  opacity: 0.6;
}

 .text {
  display: inline-block;
  white-space: nowrap;
  font-size: 12px;
  line-height: 18px;
  color: #201d1d;
  vertical-align: middle;
  text-align: left;
  padding: 0 0 0 20px;
  width: 73%;
  padding: 0 0 0 8%;
  /* font-family: 'Ubuntu', sans-serif; */
}